@page "/"
<div class="main-container">
    <div class="post-main">
        <PostListComponent></PostListComponent>
    </div>
    <div class="about-main">
<<<<<<< HEAD
        <AboutComponent TItem="BlazorBlog.Shared.Entities.AboutEntityDTO" Item="@AboutMeItem"></AboutComponent>
        <AboutComponent TItem="BlazorBlog.Shared.Entities.AboutEntityDTO" Item="@AboutBlog"></AboutComponent>
=======
        <AboutComponent TItem="BlazorBlog.Shared.Entities.AboutEntity" Item="@AboutMeItem"></AboutComponent>
        <AboutComponent TItem="BlazorBlog.Shared.Entities.AboutEntity" Item="@AboutBlog"></AboutComponent>
        <AboutComponent TItem="BlazorBlog.Shared.Entities.AboutEntity" Item="@ToYou"></AboutComponent>
>>>>>>> a5309edebb0cfa6f89415cd769414c2c3dccd5a1
    </div>
</div>

