@page "/newpost"
@if (IsAuthenticated)
{
    <div class="form-container">
        <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="email" class="form-control" @bind-value="@Post.Title" placeholder="">
        </div>
        <div class="mb-3">
            <label>
                <InputFile OnChange="@LoadFiles" />
            </label>
        </div>
        <div class="mb-3">
            <label class="form-label">Intro text</label>
            <textarea class="form-control" type="text" rows="3" @bind-value="@Post.IntroPostContent" @bind-value:event="oninput"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Content</label>
            <textarea class="form-control" @bind-value="@Post.PostContent" @bind-value:event="oninput" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">New Tag</label>
            <input type="text" class="form-control" @bind="@NewTagText">
            <button type="submit" class="btn btn-primary " @onclick="AddTag">Add Tag</button>
        </div>
       
            <select class="form-select mb-3" aria-label="Default select example">
                @foreach (var item in _tagList)
                {
                    <option class="dropdown-item" value="@item.TagText" @onclick="@(() => OnItemClicked(item))">@item.TagText</option>
                }
            </select>

       

        <ul class="list-group">
            @foreach (var item in SelectedTagList)
            {

                <li class="list-group-item d-flex justify-content-between align-items-start">
                    @item
                    <button type="button" class="btn-close close-button btn-md" aria-label="Close" @onclick="@(()=> OnTagRemove(item))">X</button>

                </li>

            }
        </ul>
        <button type="submit" class="btn btn-primary mb-3" @onclick="SendForm">SubmitPost</button>
        <button type="submit" class="btn btn-primary mb-3" @onclick="GeneratePreview">Preview</button>
        @if (ShowPreview)
        {
            <div class="main-container border-1">
                <h1 class="post-title">@Post.Title</h1>
                <div class="blog-item-border">
                    <p class="right-aligned">@Post.CreateDate.ToShortDateString()</p>
                    <div class="blog-item">
                        <img class="image-item" src="@Post.FrontPostImage" />
                        <p>@Post.IntroPostContent</p>
                        <p> @((MarkupString)Post.PostContent)</p>
                        <div class="spaced-container">
                            @if (Post.Tags != null)
                            {
                                foreach (var tag in Post.Tags)
                                {
                                    <p>#@tag.TagText</p>
                                }
                            }
                        </div>
                    </div>
                    <p class="right-aligned" lang="en">v @Post.BranchVersion.ToString().Replace(',', '.')</p>
                </div>
            </div>
        }
    </div>
}
