@page "/post/{Id:int}"
<div class="main-container">
    <h1 class="post-title">@Post.Title</h1>
    <div class="blog-item-border">
        <p class="right-aligned">@Post.CreateDate.ToShortDateString()</p>
        <div class="blog-item">
            <img class="image-item" src="@Post.FrontPostImage" />
<<<<<<< HEAD
            <p>@Post.IntroPostContent</p>
            <p> @((MarkupString)Post.PostContent)</p>
=======
            <p>@Post.IntroContent</p>
            <p> @((MarkupString)Post.Content)</p>
>>>>>>> a5309edebb0cfa6f89415cd769414c2c3dccd5a1
            <div class="spaced-container">
                @if (Post.Tags != null)
                {
                    foreach (var tag in Post.Tags)
                    {
                        <p>#@tag</p>
                    }
                }
            </div>
        </div>
        <p class="right-aligned" lang="en">v @Post.BranchVersion.ToString().Replace(',', '.')</p>
    </div>
</div>


